*:not(td) {
  padding: 10px;
  border-radius: 10px;
  transition: 0.25s;
}

body, textarea {
  background: rgb(32,32,32);
  color: snow;
  font-family: avenir, arial;
}

code {
  background: rgb(20,20,20);
  color: lime;
  padding: 5px;
  font-family: monospace;
}

#spreadsheet {
  color: black;
}

a {
  color: lightblue;
}

a:hover {
  color: lime;
}

button:hover {
  background: lime;
  color: black;
}

textarea {
  margin: 10px;
}
